
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #a5c6c6;
    font-family: Arial, sans-serif;
}

.calculator {
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    height:420px;
    overflow: hidden;
}

.display {
    background-color: #1e4e67;
    color: white;
    font-size: 2rem;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    background-color: #ebf2f3;
    border: 1px solid #ddd;
    font-size: 1.5rem;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease;
}

.btn:active {
    background-color: #c0c0c0;
}

.equal {
    grid-column: span 3;
    background-color: #569c9c;
    color: white;
}

.equal:active {
    background-color: #45a049;
}
h1{
    position: absolute;
    top: 0%;
    font-size: 50px;
    font-family: cursive;
    color:#134c5e
}